<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 5 INFO</title>

    <style type="text/css">
        @font-face {
            font-family: Bloody;
            src: url(BLOODY.woff);
        }

        body {
            background-color: blue;
            margin: 0;
        }

        div {
            background-color: red;
            margin: 0 auto;
            width: 80%;
            height: 100vh;
        }

        h1 {
            text-align: center;
            color: yellow;
            margin: 0
        }

        p {
            font-size: 50px;
            text-align: justify;
            font-family: "Bloody";
            weight: bold;
            color: aquamarine;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Formulário de Soma</h1>
        <p>Essa página será utilizada para
            criação de uma calculadora de soma.</p>

        <form method="post">
            Valor 1: <input type="number" name="valor1"><br>
            Valor 2: <input type="number" name="valor2"><br>
            <input type="submit" value="Somar">
        </form>

    </div>
</body>

</html>