<%- include('../cabecalho.ejs') %>
<form method="post" enctype="multipart/form-data">
    Nome<br> 
    <input type="text" name="nome" placeholder="Digite seu nome.">
    <br><br>
    Email<br>
    <input type="email" name="email" placeholder="Digite seu email.">
    <br><br>
    Senha<br>
    <input type="password" name="senha" placeholder="Digite sua senha.">
    <br><br>
    Foto<br>
    <input type="file" name="foto">
    <br><br>
    <input type="submit" value="Adicionar">
</form>
<%- include('../rodape.ejs') %>